@charset "utf-8";
body {
	padding:0px;
	margin:0 auto;
	background-color:#b3320b;
}
input {
	margin:0px;
	padding:0px;
}
img {
	border:0;
}
a {
	color:#000;
	text-decoration:none;
}
.login_content {
	width:1201px;
	height:618px;
	margin:0 auto;
	background:url(../images/login/login_bg.jpg) left top no-repeat;
	position:relative;
}
.name {
	height:24px;
	line-height:24px;
	padding-left:10px;
	width:160px;
	margin-top:6px;
	position:absolute;
	left:760px;
	top:239px;
	border:0px;
}
.password {
	height:24px;
	line-height:24px;
	padding-left:10px;
	width:160px;
	margin-top:6px;
	position:absolute;
	left:760px;
	top:275px;
	border:0px;
}
.bogin_btn01 {
	width:78px;
	height:29px;
	border:0px;
	color: white;
	background-color: red;
	/*background:url(../images/login/btn_01.png) left top no-repeat scroll; cursor:pointer;*/
	position:absolute;
	left:760px;
	top:310px;
}
.bogin_btn02 {
	width:78px;
	height:29px;
	border:0px;
	color: white;
	background-color: red;
	/*background:url(../images/login/btn_02.png) left top no-repeat scroll; cursor:pointer;*/
	position:absolute;
	left:848px;
	top:310px;
}

.bogin_btn03 {
	height:29px;
	border:0px;
	color:white;
	position:absolute;
	left:762px;
	top:345px;
}

.bogin_btn04 {
	height:29px;
	border:0px;
	color:white;
	position:absolute;
	left:762px;
	top:375px;
}

.bogin_btn05 {
	height:29px;
	border:0px;
	color:white;
	position:absolute;
	left:762px;
	top:405px;
}

.bogin_btn01:hover{ background:url(../images/login/btn_01_a.png);}

.bogin_btn02:hover{ background:url(../images/login/btn_02_a.png);}





