<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" th:href="@{${#themes.code('standard.custom.css.file')}}"/>
</head>

<body>
<div class="logbg">
    <div class="zjbf">
        <div class="login_bz">
            <div class="loginbz"></div>
        </div>
        <div class="logincon">
            <form method="post" th:object="${credential}">
                <div th:if="${#fields.hasErrors('*')}" style="text-align:center;color:red;">
                    <span th:each="err : ${#fields.errors('*')}" th:utext="${err}"/>
                </div>
                <div class="lognr">
                    <div class="yih user">
                        <input id="username" name="policeNum"  type="text" class="name required iput"
                               th:disabled="${guaEnabled}"
                               th:field="*{username}"
                               th:accesskey="#{screen.welcome.label.netid.accesskey}"
                               autocomplete="off"/>
                    </div>
                    <div class="yih pwd">
                        <input id="password" name="password" type="password" class="password iput"
                               th:accesskey="#{screen.welcome.label.password.accesskey}"
                               th:field="*{password}"
                               autocomplete="off"/>
                    </div>

                    <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                    <input type="hidden" name="_eventId" value="submit"/>
                    <input type="hidden" name="geolocation"/>
                    <input type="submit" value="登  录" class="btndl" name="submit" accesskey="l" />
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>